<div id='clip_curate_container' class='template_container'>
  <div class="modal-header header-shadow">
    <img class="pull-left" id='newzsocial_logo' src="images/newzsocial.png" alt="newzsocial_logo">
    <!-- <button class="close pull-right" onclick="signout()"><small>Sign Out</small></button> -->
    <div class="pull-right clickable dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown">
          <span >Hello <b>{{display.userName}}  </b></span>
          <img src="{{display.img}}">
          <b class="caret"></b>
        </a>
        <ul class="dropdown-menu" > 
          <li> 
            <a class="clickable" onclick="signout()">Sign Out</a>
          </li>
        </ul>
    </div>
    <h3>&nbsp;</h3>
  </div>
  <div id="newzsocial-action">
    <center>
      <!-- <p><img src="images/social-icons/email-profile-image.jpg" style="height:30px;"> Hello <b>User Name</b></p> -->
      <button type="button" class="btn btn-large btn-clip btn-ccs" onclick="clip('{{article_id}}')"></button>
      <button type="button" class="btn btn-large btn-curate btn-ccs" onclick="curate('{{article_id}}')"></button>
      <button type="button" class="btn btn-large btn-block btn-share btn-ccs" onclick="share_pipe('default','{{article_id}}')"></button>

    </center>
  </div>
</div>