<div class='template_container'>
  <div class="modal-header">
    <button class="close pull-right" onclick="signout()"><small>Sign Out</small></button>
    <img class="pull-left" id='newzsocial_logo' src="images/newzsocial.png" alt="newzsocial_logo">
    <h3>Share Article <span id="share-pipe-title">{{sharePipe.title}}</span></h3>
  </div>
  <div class="modal-body">
    <div class='social-icons'>
      <center>
        {{#if email}}
        <img src="images/social-icons/email.png" class="img-rounded social-icon" onclick="share_pipe('email','{{article_id}}')">
        {{/if}}
        {{#if facebook}}
        <img src="images/social-icons/facebook.png" class="img-rounded social-icon" onclick="share_pipe('facebook','{{article_id}}')">
        {{/if}}
        {{#if linkedin}}
        <img src="images/social-icons/linkedin.png" class="img-rounded social-icon" onclick="share_pipe('linkedin','{{article_id}}')">
        {{/if}}
        {{#if twitter}}
        <img src="images/social-icons/twitter.png" class="img-rounded social-icon" onclick="share_pipe('twitter','{{article_id}}')">
        {{/if}}
      </center>
    </div>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn btn" onclick="close_bookmarklet()">Close</a>
  </div>
</div>
